In [1]:
import pandas as pd

import scraper

In [2]:
df_new, df_old = scraper.load_data()
df = scraper.merge_data(df_new, df_old)

In [3]:
df[df.city == 'LJUBLJANA'].sort_values('cena_diff_percent', ascending=False).iloc[:10]

,lokal,naslov,city,cena,cena_old,doplacilo,doplacilo_old,lat,lon,posid,detailslink,sort-group,cena_diff,doplacilo_diff,cena_diff_percent,doplacilo_diff_percent
172,OKREPČEVALNICA HOLYFOOD,Igriška ulica 5,LJUBLJANA,5.50,2.82,2.00,0.00,46.048082,14.499302,3071,/sl/restaurant/Details/3071,79,2.68,2.00,95.035461,inf
41,DOMAČA PEKARNA,Dunajska cesta 113,LJUBLJANA,5.61,3.19,2.11,0.37,46.074803,14.510908,3191,/sl/restaurant/Details/3191,68,2.42,1.74,75.862069,470.270270
2,AMBIENT,Topniška 29a,LJUBLJANA,4.70,2.82,1.20,0.00,46.067856,14.510712,1772,/sl/restaurant/Details/1772,65,1.88,1.20,66.666667,inf
282,RESTAVRACIJA SARAJEVSKIH JEDI VALTER LJUBLJANA,Šmartinska cesta 3,LJUBLJANA,8.40,5.19,4.90,2.37,46.056282,14.519282,2131,/sl/restaurant/Details/2131,82,3.21,2.53,61.849711,106.751055
4,AULA COFE,Kardeljeva ploščad 5,LJUBLJANA,4.50,2.82,1.00,0.00,46.075618,14.513162,2924,/sl/restaurant/Details/2924,65,1.68,1.00,59.574468,inf
92,KAPITAL,Kardeljeva ploščad,LJUBLJANA,4.50,2.82,1.00,0.00,46.074015,14.516453,2581,/sl/restaurant/Details/2581,75,1.68,1.00,59.574468,inf
12,BIGDIL COFE,Kardeljeva ploščad 17,LJUBLJANA,4.50,2.82,1.00,0.00,46.074017,14.516449,2926,/sl/restaurant/Details/2926,66,1.68,1.00,59.574468,inf
311,ŠEHEREZADA,Trubarjeva cesta 31,LJUBLJANA,6.50,4.22,3.00,1.40,46.052526,14.509833,2092,/sl/restaurant/Details/2092,352,2.28,1.60,54.028436,114.285714
209,PIZZERIA OSMICA,Nazorjeva ulica 8,LJUBLJANA,9.00,6.12,5.50,3.30,46.052730,14.504587,2165,/sl/restaurant/Details/2165,80,2.88,2.20,47.058824,66.666667
224,PIZZERIJA IN ŠPAGETERIJA ALCAPONE,Moskovska ulica 4,LJUBLJANA,9.00,6.13,5.50,3.31,46.068108,14.542046,3116,/sl/restaurant/Details/3116,80,2.87,2.19,46.818923,66.163142

In [4]:
df_nove = df[df.cena_old.isna()]
df_stare = df[df.cena_old.notna() & df.cena.notna()]
df_ukinjene = df[df.cena.isna()]

In [5]:
doplacilo_novih = df_nove.doplacilo.mean()
doplacilo_starih = df_stare.doplacilo.mean()
doplacilo_starih_old = df_stare.doplacilo_old.mean()
doplacilo_ukinjenih = df_ukinjene.doplacilo_old.mean()
print(f'AVG DOPLAČILA\nnove: {doplacilo_novih:.2f} €\nstare: {doplacilo_starih:.2f} €\nstare včasih: {doplacilo_starih_old:.2f} € \nukinjene {doplacilo_ukinjenih:.2f} €')

AVG DOPLAČILA
nove: 4.39 €
stare: 4.05 €
stare včasih: 3.05 €
ukinjene 2.96 €

In [6]:
n_novih = len(df_nove)
n_starih = len(df_stare)
n_ukinjenih = len(df_ukinjene)
print(f'ŠTEVILO RESTAVRACIJ\nnove: {n_novih}\nstare: {n_starih}\nukinjene: {n_ukinjenih}')

ŠTEVILO RESTAVRACIJ
nove: 60
stare: 271
ukinjene: 69

In [7]:
df.city.unique()

<StringArray>
[         'LJUBLJANA',               'PTUJ',            'MARIBOR',
  'KOPER/CAPODISTRIA',    'ROGAŠKA SLATINA',           'JESENICE',
 'PORTOROŽ/PORTOROSE',         'NOVO MESTO',        'ŠKOFJA LOKA',
  'RAVNE NA KOROŠKEM',  'SLOVENSKE KONJICE',              'CELJE',
            'TREBNJE',     'SLOVENJ GRADEC',         'RADOVLJICA',
              'KRANJ',               'HOČE',        'NOVA GORICA',
            'DOMŽALE',      'MURSKA SOBOTA',            'VELENJE',
               'BLED',              'KRŠKO',        'IZOLA/ISOLA',
    'ZAGORJE OB SAVI',           'TRBOVLJE',            'LOGATEC',
            'BREŽICE']
Length: 28, dtype: string